<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">SoulChat</div>
        <p class="navbar-text navbar-right" ng-show="isSession"><span>{{session_user.name}}，欢迎加入SoulChat </span>&nbsp;|&nbsp;<a tole="button" class="btn btn-default" ng-click="userLogout()">登出</a> </p>
        <p class="navbar-text navbar-right" ng-show="!isSession"><a href="" class="navbar-link" >注册</a> &nbsp;|&nbsp;  <a class="navbar-link" > 登录 </a> &nbsp;&nbsp;</p>
    </div>
</div>