<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerList" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            SoulChat</div>
        <ul class="nav navbar-nav navbar-collapse collapse" id="headerList">
            <li><a ui-sref="index">首页&注册</a></li>
            <li><a ui-sref="login">登录</a></li>
            <li><a ui-sref="chatList">房间列表</a></li>
            <li><a href="" ui-sref="chat({roomId:session_user['roomId']})">加入聊天</a></li>
        </ul>
      </div>
</div>