<div class="center">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <hr/>
            <h1>欢迎加入SoulChat</h1>
            <h4>只需3步即可加入SoulChat</h4>
            <hr/>
            <h4>已加入SoulChat？赶紧登陆吧 <a  role="button" class="btn btn-default" ui-sref="login">登陆</a></h4>
            <hr/>
        </div>
    </div>
    <hr/>
    <form action="/newuser" class="form-horizontal" method="post" novalidate name="regForm">
        <div class="form-group has-feedback">
            <label for="username" class="col-sm-2 col-sm-offset-2 control-label ">代号：</label>
            <div class="col-sm-4">
                <input type="text" id="username" name="reg[username]" class="form-control" required ng-model="user.name" ng-minlength="2" ng-maxlength="16" ensure-unique />
                <p>{{regForm["reg[username]"].$dirty}}</p>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="regForm['reg[username]'].$dirty && regForm['reg[username]'].$dirty &&regForm['reg[username]'].$error.unique"></span>
            </div>
            <div class="col-sm-2">
                <p>{{name_info}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 col-sm-offset-2 control-label ">密码：</label>
            <div class="col-sm-4">
                <input type="password" id="password" name="reg[password]" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 col-sm-offset-2 control-label ">邮箱：</label>
            <div class="col-sm-4 ">
                <input type="email" id="email" name="reg[email]" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-5">
                <button type="submit" class="btn btn-default">加入SoulChat</button>
            </div>
        </div>
    </form>
    <hr/>
</div>
