*{
  font-family: 'Î¢ÈíÑÅºÚ';
}

.snow-hello{
  background: rgba(0,0,0,0.5);
  padding-top:20px ;
  color: #fff;
  height: 100%;
  label{
    font-size: 16px;
  }
  form{
    span{
      color: #008800;
    }
  }
  .center{
    margin-top:100px ;
  }
}
